* {
    box-sizing: border-box;
}

main {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

section {
    background: chartreuse;
    width: 980px;
    height: 490px;
    border: 2px solid red;
    padding: 10px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yellow {
    height: 440px;
    width: 440px;
    margin: 10px;
    padding: 5px;
    background: yellow;
    border: 1px solid black;

}

.blue {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background: blue;
}

.second .yellow {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
.transparent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 440px;
    width: 440px;
    margin: 10px;
    padding: 5px;
}